.menu-button {
    -fx-font-size: 14px;
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.menu-button:hover {
    -fx-background-color: #005a9e;
}